<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clips</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
</head>
<body class="bg-gray-100 relative">

    <!-- Header -->
    <div class="bg-black text-white flex justify-between items-center p-4">
        <div class="flex items-center space-x-2">
            <img src="logo.jpeg" alt="Watch Dog Logo" class="w-8 h-8">
            <span class="text-xl font-bold">WATCH DOG</span>
        </div>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="/" class="hover:text-gray-400">Cameras</a></li>
                <li><a href="/clip" class="hover:text-gray-400">Clips</a></li>
                <li><a href="/account" class="hover:text-gray-400">Account</a></li>
                <li><a href="#" class="hover:text-gray-400">Alerts</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold mb-6">Clips</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden relative">
                <thead>
                    <tr class="bg-gray-200 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">
                        <th class="px-6 py-3 cursor-pointer relative filter-header">Date</th>
                        <th class="px-6 py-3 cursor-pointer relative filter-header">Time</th>
                        <th class="px-6 py-3 cursor-pointer relative filter-header">Camera</th>
                        <th class="px-6 py-3 cursor-pointer relative filter-header">Intruder</th>
                        <th class="px-6 py-3"></th> <!-- For the Delete button -->
                    </tr>
                </thead>
                <tbody id="clip-container">
                    <!-- Clips will be added here -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="video-modal" class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2 bg-opacity-75 flex items-center justify-center hidden">
        <div class="bg-white py-4 px-6 rounded-lg relative">
            <button id="close-modal" class="absolute top-2 right-1 text-red-600"><i class="fa-regular fa-circle-xmark"></i></button>
            <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                data-setup="{}"
            >
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>

    <script src="/js/auth.js"></script>
    <script src="/js/clip.js"></script>
</body>
</html>
